[Desktop Entry]
Type=Application
Name=Mein Python Projekt
Exec=/home/eloki/Dropbox/python/0. Messprogramm Final/start.sh
Icon=/home/eloki/Dropbox/python/0. Messprogramm Final/4-Punkt-Messung.png
Terminal=false
Categories=Utility;
